<%- include("partials/header") %>
<%- include("partials/parallax") %>
<div class="container">
    <%- include("content/tasksTable") %>
</div>

<%- include("partials/addTask") %>
<%- include("partials/editModals") %>

<%- include("partials/footer") %>